SNMP_agent/snmpAndroid/Web References/SnmpReference/SnmpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnmpService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnmpService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SnmpTypeObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SnmpTypeObject" nillable="true" type="tns:SnmpTypeObject" />
</xs:schema>